{
	"extends": "airbnb",
	"globals": {
		"estatico": true,
		"document": true,
		"window": true,
		"localStorage": true,
		"Event": true,
		"Modernizr": true,
		"XMLHttpRequest": true,
		"QUnit": true,
		"fetch": true,
		"dataStore": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"allowImportExportEverywhere": true
	},
	"rules": {
		"class-methods-use-this": 0,
		"import/extensions": [ "always", {"ignorePackages": true} ],
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1,
				"VariableDeclarator": 1
			}
		],
		"linebreak-style": 0,
		"max-len": 0,
		"no-tabs": 0,
		"object-property-newline": ["error", {
			"allowMultiplePropertiesPerLine": false,
		}],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"react/no-danger": 0
	}
}
